/* line 1, _Global.less */
.font-weightbold {
  font-weight: bold;
}
/* line 5, _Global.less */
.new_title.center {
  padding: 0 0 0px 0;
  text-align: left;
  border-bottom: 3px solid #eee;
  height: 21px;
}
/* line 12, _Global.less */
.new_title {
  color: #000000;
  margin: 0 auto 20px;
  text-align: center;
  text-transform: none;
}
/* line 17, _Global.less */
.new_title h2 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  padding: 8px 20px 8px 5px;
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  text-transform: uppercase;
}
/* Feature SLIDER */
/* line 6, _owl-carousel.less */
#featured-slider_6max .owl-item .item {
  text-align: center;
}
/* line 8, _owl-carousel.less */
#featured-slider_6max .owl-item .item .product-image {
  display: block;
  overflow: hidden;
}
/* line 16, _blended.less */
#featured-slider_6max .owl-item .item .product-image img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 25, _blended.less */
#featured-slider_6max .owl-item .item .product-image:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 56, _blended.less */
#featured-slider_6max .owl-dots {
  position: relative;
  top: -28.7em;
  text-align: right;
}
/* line 60, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot > span:active,
#featured-slider_6max .owl-dots > .owl-dot > span:hover,
#featured-slider_6max .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#featured-slider_6max .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#featured-slider_6max .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 16, _owl-carousel.less */
.product-flexslider {
  margin: 20px 30px 0px;
}
/*Brand Logo Slider*/
/* line 27, _owl-carousel.less */
.brand-logo {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 25px 0px;
}
/* line 32, _owl-carousel.less */
.brand-logo .slider-items-products .owl-item .item {
  text-align: center;
  border: 1px #dddddd solid;
  height: 80px;
  line-height: 80px;
}
/* line 37, _owl-carousel.less */
.brand-logo .slider-items-products .owl-item .item img {
  width: 90%;
  margin: 10px auto;
}
/* line 46, _owl-carousel.less */
#brand-logo-slider {
  margin: 30px 0px !important;
}
/* line 56, _blended.less */
#brand-logo-slider .owl-dots {
  position: relative;
  top: -9.5em;
  text-align: right;
}
/* line 60, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot > span:active,
#brand-logo-slider .owl-dots > .owl-dot > span:hover,
#brand-logo-slider .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#brand-logo-slider .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#brand-logo-slider .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 56, _blended.less */
#featured-slider_4max .owl-dots {
  position: relative;
  top: -37em;
  text-align: right;
}
/* line 60, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot > span:active,
#featured-slider_4max .owl-dots > .owl-dot > span:hover,
#featured-slider_4max .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#featured-slider_4max .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#featured-slider_4max .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 26, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-prev {
  color: black;
  background-color: white;
  border-radius: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 14em;
  left: -2em;
}
/* line 29, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-prev:hover {
  background-color: #185eab;
  color: white;
  border: 1px solid white;
}
/* line 35, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-next {
  color: black;
  background-color: white;
  border-radius: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 14em;
  right: -2em;
}
/* line 38, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-next:hover {
  background-color: #185eab;
  color: white;
  border: 1px solid white;
}
/* line 47, _pdc_carousel.less */
.clickable-product {
  overflow: hidden;
  border: 1px solid rgba(210, 210, 210, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 55, _pdc_carousel.less */
.clickable-product .product-topimage {
  overflow: hidden;
}
/* line 57, _pdc_carousel.less */
.clickable-product .product-topimage img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 61, _pdc_carousel.less */
.clickable-product .product-topimage .rednew-topleft-triangle {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  background: url('../imgs/newRed.png') top left no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 73, _pdc_carousel.less */
.clickable-product .product-topimage .rednew-topleft-triangle > p {
  padding-right: 2em;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 83, _pdc_carousel.less */
.clickable-product .product-topimage .bluesale-topright-triangle {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  background: url('../imgs/saleBlue.png') no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
/* line 95, _pdc_carousel.less */
.clickable-product .product-topimage .bluesale-topright-triangle > p {
  padding-left: 2em;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 105, _pdc_carousel.less */
.clickable-product .product-topimage .quickview-link {
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 20px 5px 0px 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: url('../imgs/searchBlue.png') no-repeat bottom right;
  border: none;
  position: absolute;
  bottom: 141px;
  right: 0px;
  opacity: 0;
  z-index: 1;
}
/* line 125, _pdc_carousel.less */
.clickable-product .product-infobottom {
  padding: 1em 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 132, _pdc_carousel.less */
.clickable-product .product-infobottom .product-caption {
  margin-bottom: 3px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 139, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars {
  /*.glyphicon {
                font-size: 20px;
            }*/
}
/* line 143, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars .glyphicon-star-empty {
  color: rgba(210, 210, 210, 0.8);
}
/* line 146, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars .glyphicon-star {
  color: yellow;
}
/* line 150, _pdc_carousel.less */
.clickable-product .product-infobottom .merchandise-price {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}
/* line 156, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom > a {
  color: rgba(185, 185, 185, 0.8);
}
/* line 159, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom .button-extra-default {
  margin: 0 3px;
  background-color: white;
  border: 1px solid rgba(210, 210, 210, 0.8);
  border-radius: 0;
  font-weight: bold;
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -ms-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
/* line 166, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom .button-extra-default:hover {
  background-color: black;
  color: white;
  margin: 0 12px;
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -ms-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
/* line 176, _pdc_carousel.less */
.clickable-product:hover {
  -webkit-box-shadow: 2px 10px 7px 0px #e6e3e6;
  -moz-box-shadow: 2px 10px 7px 0px #e6e3e6;
  box-shadow: 2px 10px 7px 0px #e6e3e6;
}
/* line 181, _pdc_carousel.less */
.clickable-product:hover .product-topimage .quickview-link {
  opacity: 1;
}
/* line 184, _pdc_carousel.less */
.clickable-product:hover .product-topimage img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
/* line 189, _pdc_carousel.less */
.clickable-product:hover .product-caption {
  color: #337ab7;
}
/* line 193, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .likeheart-link {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
/* line 200, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .btnproduct-defaulthover {
  background-color: black !important;
  color: white;
  margin: 0 12px;
}
/* line 205, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .sendsignal-link {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
/*.caption-sliderdesc {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}*/
/*.caption-sliderdesc {
    width: 100%;
    height: 100%;
    text-align: center;
    > p {
        padding-top: 20%;
    }
}*/
/* line 62, styles.less */
.carousel-item-container {
  width: 100%;
  max-height: 500px;
}
/* line 65, styles.less */
.carousel-item-container img {
  max-height: 500px;
}
/* line 68, styles.less */
.carousel-item-container .caption-sliderdescs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}
/* line 74, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child {
  padding-top: 6%;
}
/* line 78, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child .redfather-circle {
  line-height: 90px;
  color: #fff;
  display: inline-flex;
  white-space: nowrap;
  width: 90px;
  height: 90px;
  padding-left: 20px;
  background: #ee3644;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  letter-spacing: 1px;
  font-size: 39px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 93, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child .headerslider-nowavailable {
  font-size: 39px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  color: #ee3644;
}
/* line 98, styles.less */
.carousel-item-container .caption-sliderdescs .spoil-youfather {
  color: #185eab;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 5em;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 106, styles.less */
.carousel-item-container .caption-sliderdescs .china-no1bear {
  color: white;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 5em;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 114, styles.less */
.carousel-item-container .caption-sliderdescs .header-father-desc,
.carousel-item-container .caption-sliderdescs .header-yanjing-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  margin-bottom: 4em;
  letter-spacing: 0;
}
/* line 120, styles.less */
.carousel-item-container .caption-sliderdescs .shopnow-btnheader {
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  letter-spacing: 1px;
  text-decoration: none;
  border: 2px #185eab solid;
  color: #333;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
/* line 131, styles.less */
.carousel-item-container .caption-sliderdescs .shopnow-btnheader:hover,
.carousel-item-container .caption-sliderdescs .shopnow-btnheader:focus {
  background-color: #185eab;
  color: white;
}
/*=================== 10. Blog-post ==================*/
/* line 170, styles.less */
.latest-blog {
  text-align: left;
  padding: 0px;
  margin: auto;
  padding-bottom: 5px;
  overflow: hidden;
}
/* line 176, styles.less */
.latest-blog img {
  width: 100%;
  border-radius: 3px;
}
/* line 180, styles.less */
.latest-blog .container {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 184, styles.less */
.latest-blog .blog-title {
  color: #000000;
  height: 50px;
  margin: 0 auto 0px;
  text-align: left;
  text-transform: none;
  padding-left: 15px;
}
/* line 191, styles.less */
.latest-blog .blog-title h2 {
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  padding: 12px 10px 2px 0px;
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 204, styles.less */
.latest-blog h3 {
  margin-top: 12px;
  margin-bottom: 5px;
}
/* line 207, styles.less */
.latest-blog h3 a {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
/* line 213, styles.less */
.latest-blog .icon-calendar:before {
  margin-right: 5px;
}
/* line 216, styles.less */
.latest-blog .post-date {
  border-bottom: 1px #eaeaea solid;
  padding-bottom: 10px;
}
/* line 220, styles.less */
.latest-blog .readmore {
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  border: 1px #eaeaea solid;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
/* line 229, styles.less */
.latest-blog .readmore:hover {
  background: #185eab;
  color: #ffffff;
}
/* line 234, styles.less */
.latest-blog .blog_inner {
  float: left;
  margin-bottom: 30px;
  background: #ffffff;
  padding: 0px;
  margin-top: 20px;
}
/* line 241, styles.less */
.latest-blog a {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
}
/* line 247, styles.less */
.latest-blog a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 252, styles.less */
.latest-blog p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
  text-align: left;
  color: #777777;
}
/* line 259, styles.less */
.latest-blog .blog-img {
  display: block;
  overflow: hidden;
}
/* line 16, _blended.less */
.latest-blog .blog-img img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 25, _blended.less */
.latest-blog .blog-img:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 264, styles.less */
.post-date {
  color: #5e5f5f;
  font-weight: normal;
  font-size: 13px;
}
/* line 270, styles.less */
.blog_post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}
/* line 277, styles.less */
.blog-img {
  position: relative;
}
/* line 279, styles.less */
.blog-img img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
}
/* line 282, styles.less */
.blog-img .mask {
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 298, styles.less */
.blog-img a.info {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -o-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #185eab;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 11px;
  border: 2px #ffffff solid;
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 313, styles.less */
.blog-img a.info:hover {
  background: #185eab;
}
/* line 317, styles.less */
.blog-img .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 326, styles.less */
.blog-img:hover .mask {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 332, styles.less */
.blog-img:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -o-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* blog-End */
/* ======================== 11. Features Box ============================ */
/* line 364, styles.less */
.our-features-box {
  background: none;
  margin-top: 0px;
  overflow: hidden;
  padding: 0px;
  padding: 0px 0;
  width: 100%;
  margin: auto;
  background: #185eab;
  margin-top: 30px;
}
/* line 374, styles.less */
.our-features-box ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 1170px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}
/* line 383, styles.less */
.our-features-box ul li {
  float: left;
  margin-bottom: 0px;
  margin-right: 15px;
  text-align: center;
  width: 275px;
  padding: 0;
  display: inline-block;
}
/* line 392, styles.less */
.our-features-box ul li.last {
  margin-right: 0;
}
/* line 396, styles.less */
.our-features-box .feature-box {
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  line-height: 1.4em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  width: 275px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/* line 408, styles.less */
.our-features-box .feature-box .content {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-top: 12px;
  font-size: 11px;
}
/* line 415, styles.less */
.our-features-box .feature-box span {
  font-size: 12px;
  display: block;
  font-weight: 400;
  text-transform: none;
  padding-top: 5px;
  color: #cccccc;
  line-height: 18px;
  font-style: italic;
}
/* line 429, styles.less */
.icon-truck:before {
  content: "\f0d1";
}
/* line 433, styles.less */
.icon {
  display: inline-block !important;
  font-size: 16px;
  margin: auto;
  color: #ffffff;
  text-align: center;
  width: 40px !important;
  padding-left: 0px;
  float: left;
  background: #226ab9;
  border-radius: 25px;
  height: 40px;
  line-height: 40px;
  border: 1px #057bb6 solid;
}
/*==================== 19. Footer =====================*/
/*toTop*/
/* line 456, styles.less */
#toTop {
  color: #fff;
  text-align: center;
  bottom: 60px;
  display: none;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-decoration: none;
  width: 50px;
  background: url(../images/to-top-arrow.png) no-repeat center;
  background-color: #222;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 472, styles.less */
#toTop:hover {
  color: #fff;
  background-color: #000;
}
/* newsletter */
/* line 481, styles.less */
.newsletter {
  margin: 0 0 20px 0;
  margin: auto;
  padding: 5px 0 0;
  position: relative;
  width: 820px;
}
/* line 490, styles.less */
.newsletter-wrap h4 {
  margin-bottom: 3px;
}
/* line 493, styles.less */
.newsletter-wrap input[type="text"] {
  background: #ffffff;
  width: 450px;
  width: 62% !important;
  height: 18px;
  height: auto;
  display: inline-block;
  color: #a7a7a7;
  line-height: 22px;
  background-color: #ffffff;
  border: none;
  padding-left: 10px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 10px;
}
/* line 509, styles.less */
.newsletter-wrap button.subscribe:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
  color: #ffffff;
}
/* line 516, styles.less */
.newsletter-wrap button.subscribe {
  background: #185eab;
  border: 0 none;
  filter: none;
  overflow: hidden;
  padding: 9px 18px;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 527, styles.less */
.newsletter-wrap button.subscribe:hover {
  border: 0 none;
  filter: none;
  overflow: hidden;
  padding: 9px 18px;
}
/* line 533, styles.less */
.newsletter-wrap button.subscribe span {
  color: #ffffff;
  font-size: 14px;
}
/* line 540, styles.less */
footer {
  padding: 0px 0 0;
  overflow: hidden;
  color: #333;
  background: #0e0e0e;
  padding-top: 30px;
  border-top: 6px #185eab solid;
}
/* line 547, styles.less */
footer .footer-middle {
  text-align: center;
}
/* line 550, styles.less */
footer ul {
  margin: 0px;
  padding: 0px;
}
/* line 553, styles.less */
footer ul li {
  list-style-type: none;
  border-bottom: 1px #222222 solid;
}
/* line 557, styles.less */
footer ul li:last-child {
  border-bottom: none;
}
/* line 560, styles.less */
footer ul a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
}
/* line 569, styles.less */
footer .footer-inner {
  margin-bottom: 30px;
  overflow: hidden;
  padding-top: 15px;
}
/* line 573, styles.less */
footer .footer-inner h3 {
  color: #3D4C4F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0 0 15px;
  padding: 0 0 10px;
  text-transform: uppercase;
}
/* line 584, styles.less */
.footer-column-1 {
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 30px;
  min-height: 220px;
  padding-right: 30px;
}
/* line 592, styles.less */
.footer-column {
  margin-bottom: 15px;
  margin-right: 20px;
  min-height: 220px;
  width: 30%;
}
/* line 601, styles.less */
footer .footer-column a {
  color: #aaaaaa;
  display: block;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
/* line 605, styles.less */
footer .footer-column a:before {
  color: #666666;
  content: "\f105";
  cursor: pointer;
  display: inline-block !important;
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 20px;
  margin-right: 5px;
}
/* line 617, styles.less */
footer p {
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/* line 624, styles.less */
footer a {
  line-height: normal;
}
/* line 626, styles.less */
footer a:hover {
  color: #185eab;
  text-decoration: none;
}
/* line 631, styles.less */
footer h4 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
}
/* line 642, styles.less */
footer .input-text:focus {
  background: #ffffff;
  border-color: #464646;
}
/* line 647, styles.less */
footer .coppyright {
  color: #666666;
  float: left;
}
/* line 653, styles.less */
.footer-column-last {
  margin-bottom: 15px;
  margin-right: 0px;
  padding-left: 0px;
}
/* line 657, styles.less */
.footer-column-last li {
  padding: 0px 0 5px;
}
/* line 663, styles.less */
.footer-bottom .inner {
  height: 60px;
  margin: auto;
  padding: 20px 0 15px;
}
/* line 667, styles.less */
.footer-bottom .inner a {
  color: #aaaaaa;
}
/* line 669, styles.less */
.footer-bottom .inner a:hover {
  color: #ffffff;
}
/* line 674, styles.less */
.footer-bottom .inner .bottom_links a {
  margin-left: 15px;
}
/* line 681, styles.less */
.footer-bottom {
  padding: 0px;
  padding: 18px 0;
  overflow: hidden;
  width: 100%;
  margin: auto;
  background-color: #060606;
}
/* line 688, styles.less */
.footer-bottom a {
  color: #999999;
}
/* line 691, styles.less */
.footer-bottom .company-links ul {
  padding: 0px;
}
/* line 694, styles.less */
.footer-bottom .company-links li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
  float: right;
  border-bottom: none;
}
/* line 703, styles.less */
footer address {
  display: block;
  margin: auto;
  font-style: normal;
  line-height: 1.5em;
  color: #999;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
}
/* line 716, styles.less */
footer address .icon-mobile-phone:before,
footer address .icon-envelope:before {
  margin-left: 15px;
}
/* line 721, styles.less */
.footer-bottom .bottom_links li {
  margin-left: 20px;
}
/* line 725, styles.less */
.custom-footer-links li {
  margin: 7px 0;
}
/* line 729, styles.less */
.footer-col-right {
  width: 58%;
  float: left;
}
/* line 734, styles.less */
.contact-info {
  text-align: center;
}
/* line 738, styles.less */
ul.contact-info span {
  font-size: 13px !important;
  font-weight: 900 !important;
  color: #666;
  float: left;
}
/* line 745, styles.less */
ul.contact-info li {
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: inline-block;
}
/* line 751, styles.less */
ul.contact-info li.last {
  float: left;
  margin-bottom: 0px;
  border-bottom: 0px #2d3d4c solid;
}
/* line 759, styles.less */
.footer-box {
  width: 1240px;
  margin: auto;
}
/* line 764, styles.less */
footer ul span {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: 15px;
  padding-right: 3px;
}
/* line 772, styles.less */
address {
  display: block;
  margin: auto;
  font-style: normal;
  line-height: 21px;
  color: #999999;
  padding-top: 10px;
  margin-top: 10px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px #eaeaea solid;
  margin-bottom: 15px;
}
/* line 786, styles.less */
.footer-logo {
  text-align: left;
  margin: 10px 0;
}
/* line 791, styles.less */
.social-section {
  padding: 0px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  background: #191919;
}
/* line 797, styles.less */
.social-section .inner {
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}
/* line 805, styles.less */
.social {
  overflow: hidden;
}
/* line 807, styles.less */
.social a {
  border: 2px #555555 solid;
  border-radius: 20px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: background 400ms ease-in-out;
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
}
/* line 818, styles.less */
.social a :hover {
  color: #ffffff;
}
/* line 822, styles.less */
.social .fb a:before {
  content: "\f09a";
  font-family: FontAwesome;
}
/* line 826, styles.less */
.social .fb a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 832, styles.less */
.social .fb a:hover {
  background: #3c5b9b !important;
}
/* line 835, styles.less */
.social .tw a:before {
  content: "\f099";
  font-family: FontAwesome;
}
/* line 839, styles.less */
.social .tw a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 845, styles.less */
.social .tw a:hover {
  background: #359bed !important;
}
/* line 848, styles.less */
.social .googleplus a:before {
  content: "\f0d5";
  font-family: FontAwesome;
}
/* line 852, styles.less */
.social .googleplus a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 858, styles.less */
.social .googleplus a:hover {
  background: #e33729 !important;
}
/* line 861, styles.less */
.social .rss a:before {
  content: "\f09e";
  font-family: FontAwesome;
}
/* line 865, styles.less */
.social .rss a {
  content: "\f09e";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 873, styles.less */
.social .rss a:hover {
  background: #fd9f13 !important;
}
/* line 876, styles.less */
.social .pintrest a:before {
  content: "\f0d3";
  font-family: FontAwesome;
}
/* line 880, styles.less */
.social .pintrest a {
  content: "\f0d3";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 888, styles.less */
.social .pintrest a:hover {
  background: #cb2027 !important;
}
/* line 891, styles.less */
.social .linkedin a:before {
  content: "\f0e1";
  font-family: FontAwesome;
}
/* line 895, styles.less */
.social .linkedin a {
  content: "\f0e1";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 903, styles.less */
.social .linkedin a:hover {
  background: #027ba5 !important;
}
/* line 906, styles.less */
.social .youtube a:before {
  content: "\f167";
  font-family: FontAwesome;
}
/* line 910, styles.less */
.social .youtube a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 916, styles.less */
.social .youtube a:hover {
  background: #f03434 !important;
}
/* line 919, styles.less */
.social h4 {
  margin: 25px 0 0px 0px;
}
/* line 922, styles.less */
.social ul {
  margin: 0;
  list-style: none;
}
/* line 925, styles.less */
.social ul li {
  margin-right: 10px;
  border: none;
}
/* line 933, styles.less */
.payment-accept {
  color: #333333;
  font-size: 14px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}
/* line 940, styles.less */
.payment-accept img {
  margin-right: 10px;
  opacity: 0.5;
}
/* line 944, styles.less */
.payment-accept img:hover {
  opacity: 1;
}
