/* line 1, _Global.less */
.font-weightbold {
  font-weight: bold;
}
/* line 5, _Global.less */
.new_title.center {
  padding: 0 0 0px 0;
  text-align: left;
  border-bottom: 3px solid #eee;
  height: 21px;
}
/* line 12, _Global.less */
.new_title {
  color: #000000;
  margin: 0 auto 20px;
  text-align: center;
  text-transform: none;
}
/* line 17, _Global.less */
.new_title h2 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  padding: 8px 20px 8px 5px;
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  text-transform: uppercase;
}
/*==================== 4. Navigation =================*/
/* line 4, _navbar.less */
nav {
  position: relative;
  margin: auto;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 4px #185eab solid;
  z-index: 99;
}
/* line 13, _navbar.less */
.nav-inner {
  position: relative;
}
/* line 16, _navbar.less */
#nav > li > a.active:nth-child(1) {
  color: #fff;
  background: #185eab;
  border-radius: 3px 3px 0px 0px;
  margin-right: 0px;
}
/* line 21, _navbar.less */
#nav > li > a:hover.active:nth-child(1) {
  color: #fff;
}
/* line 24, _navbar.less */
#nav > li > a:first-child {
  margin-left: 0px;
}
/* line 27, _navbar.less */
#nav > li > a:last-child a {
  color: #333333;
}
/* line 30, _navbar.less */
.nav {
  width: 1000px;
  margin: 0px auto 0;
}
/* line 34, _navbar.less */
#nav > li:hover > a,
.vertnav-top li > a:hover {
  color: #fff;
  background: #185eab;
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
}
/* line 40, _navbar.less */
.cms-index-index #nav #nav-home > a,
#nav > li.active > a,
.vertnav-top li.current > a {
  color: #fff;
  background: #185eab;
  border-radius: 3px 3px 0px 0px;
  margin-right: 4px;
}
/* line 46, _navbar.less */
.cms-index-index #nav #nav-home > a,
#nav > li.active > a,
.vertnav-top li.current > a:hover {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #185eab;
  border-radius: 3px 3px 0px 0px;
  margin-right: 4px;
}
/* line 53, _navbar.less */
.cms-index-index #nav #nav-home > a span,
#nav > li.active > a span,
.vertnav-top li.current > a span {
  border-right: none;
}
/* line 56, _navbar.less */
.cms-index-index nav {
  border-bottom: none;
}
/* line 59, _navbar.less */
#nav {
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
  padding: 0;
  margin: auto;
  text-align: center;
}
/* All levels */
/* line 68, _navbar.less */
#nav li {
  text-align: left;
}
/* line 71, _navbar.less */
#nav li a {
  display: block;
  text-decoration: none;
}
/* 1st level only */
/* line 80, _navbar.less */
#nav > li {
  list-style: none;
  border-bottom: none;
  display: block;
  float: left
;
}
/* line 87, _navbar.less */
#nav > li.last {
  padding-right: 0;
}
/* line 90, _navbar.less */
#nav > li > a {
  display: block;
  padding: 15px 0px;
}
/* line 94, _navbar.less */
#nav > li > a > span {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px #e5e5e5 solid;
}
/* line 100, _navbar.less */
#nav > li > a.active > span {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px #185eab solid;
}
/* line 106, _navbar.less */
#nav > li > a:hover > span,
#nav > li:active > a > span {
  border-right: 1px #185eab solid;
}
/* line 110, _navbar.less */
#nav .level0-wrapper {
  position: absolute;
  left: -10000px;
  background-color: #fff;
}
/* line 115, _navbar.less */
#nav .dropdown-6col {
  left: 0px;
  display: none;
}
/* Inner wrapper for additional padding */
/* line 119, _navbar.less */
#nav .level0-wrapper2 {
  padding: 0;
}
/* line 122, _navbar.less */
#nav .level0-wrapper2:before,
#nav .level0-wrapper2:after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 127, _navbar.less */
#nav .level0-wrapper2:after {
  clear: both;
}
/* Home link*/
/* line 132, _navbar.less */
#nav a.level-top.feature {
  margin: 0;
}
/* Icon inside item */
/* line 136, _navbar.less */
#nav li a.level-top .icon {
  padding: 3px;
  margin: 0;
  float: none;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent !important;
}
/* line 144, _navbar.less */
#nav li:hover a.level-top .icon {
  padding: 3px;
}
/* Single icon as home link */
/* line 148, _navbar.less */
#nav #homelink-icon {
  margin-left: 12px;
}
/* line 151, _navbar.less */
#nav #homelink-icon a.level-top {
  padding-left: 5px;
  padding-right: 5px;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
/* Custom menu item */
/* line 159, _navbar.less */
#nav .nav-custom-link > a {
  cursor: default;
}
/* Remove 'relative' positioning from custom 'li' (custom block have to be positioned relative to #nav) */
/* line 163, _navbar.less */
#nav .nav-custom-link {
  position: static;
}
/* Static block's content - basic formatting */
/* line 167, _navbar.less */
#nav .nav-custom-link .header-nav-dropdown-wrapper {
  padding: 5px 10px 10px 0px;
  overflow: hidden;
}
/* line 171, _navbar.less */
#nav .nav-custom-link .header-nav-dropdown-wrapper p {
  margin: 10px 0;
  color: #999;
  line-height: 1.5em;
  font-size: 13px;
  font-weight: normal;
}
/* line 178, _navbar.less */
#nav .nav-custom-link .header-nav-dropdown-wrapper .heading {
  margin: 10px 0;
}
/* Caret */
/* line 182, _navbar.less */
#nav a.level-top .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 2px;
  margin-left: 2px;
  vertical-align: middle;
  content: "";
  border-style: solid solid none;
  border-width: 4px 4px 0;
  border-color: #333 transparent transparent;
}
/* Number of products in category */
/* Sidebar menu */
/* line 196, _navbar.less */
.vertnav .number {
  margin-left: 3px;
  color: #aaa;
}
/* Main menu */
/* line 201, _navbar.less */
#nav .number {
  display: inline;
  margin-left: 3px;
}
/* line 205, _navbar.less */
#nav ul li .number {
  color: #aaa;
}
/* Other */
/* line 209, _navbar.less */
.nav .itemslider {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 213, _navbar.less */
.nav .itemslider .item {
  padding-bottom: 0;
}
/* 1st level */
/* line 217, _navbar.less */
li.level0 > a > span {
  position: relative;
}
/* line 220, _navbar.less */
li.level0 > a > span > .cat-label {
  position: absolute;
  top: -12px;
  right: 0;
  padding: 0 6px;
  font-size: 14px;
  line-height: 22px;
}
/* Add pin (only 1st level) */
/* line 229, _navbar.less */
li.level0 > a > span > .pin-bottom:before {
  position: absolute;
  right: 6px;
  top: 22px;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  transition: border-color 450ms ease-in-out;
  -moz-transition: border-color 450ms ease-in-out;
  -webkit-transition: border-color 450ms ease-in-out;
  -o-transition: border-color 450ms ease-in-out;
}
/* line 244, _navbar.less */
li.level0 > a:hover > span > .pin-bottom:before {
  transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
}
/* 2nd level */
/* line 251, _navbar.less */
li.level1 > a > span > .cat-label {
  display: inline-block !important;
  padding: 0 4px;
  margin-left: 2px;
  vertical-align: middle;
}
/* 3rd level */
/* line 258, _navbar.less */
li.level2 > a > span > .cat-label {
  display: inline-block !important;
  padding: 0 4px;
  margin-left: 2px;
}
/* Category labels inside mobile menu / vertical menu */
/* line 264, _navbar.less */
ul.vertnav li > a > span > .cat-label {
  position: static;
  display: inline-block !important;
  padding: 0 4px;
  margin-left: 2px;
}
/* Hide pin */
/* line 271, _navbar.less */
ul.vertnav li > a > span > .pin-bottom:before {
  display: none;
}
/* Label size: all levels */
/* line 275, _navbar.less */
ul.vertnav li > a > span > .cat-label {
  font-size: inherit;
  line-height: inherit;
}
/* line 279, _navbar.less */
ul.vertnav-top li > a > span > .cat-label {
  font-size: 14px;
  line-height: 18px;
}
/* Category blocks */
/* line 284, _navbar.less */
.nav-block {
  margin-top: 0;
  margin-bottom: 1%;
}
/* line 289, _navbar.less */
.nav-block-bottom {
  float: left;
}
/* line 292, _navbar.less */
.nav-block-center {
  margin-top: 0px;
}
/* line 295, _navbar.less */
.nav-block-right {
  margin-top: 0px;
  float: right;
  padding: 0px;
  text-align: center;
}
/* line 301, _navbar.less */
.nav-block-level1-top {
  margin-bottom: 10px;
}
/* line 304, _navbar.less */
.nav-block-level1-bottom {
  margin-top: 10px;
}
/* line 307, _navbar.less */
.nav-block .section-line {
  border-color: #eee;
}
/* horizontal + mobile menu trigger */
/* line 311, _navbar.less */
#nav > li > a {
  font-size: 12px;
  text-transform: uppercase /*1.3333em*/;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
/* line 317, _navbar.less */
#nav > li:hover > a span,
.vertnav-top li > a:hover span {
  border-right: 1px #185eab solid;
}
/* line 320, _navbar.less */
ul.level0 {
  padding: 0;
}
/* line 323, _navbar.less */
ul.level1 {
  padding: 0px;
}
/* line 326, _navbar.less */
#nav .level0-wrapper,
#nav.classic ul {
  background-color: #ffffff;
  color: #333333;
}
/* line 330, _navbar.less */
#nav ul li a:hover {
  color: #185eab;
}
/* line 333, _navbar.less */
.cat-label-label1 {
  background-color: #D12631;
  color: #ffffff;
}
/* line 337, _navbar.less */
.cat-label-label2 {
  background-color: #d52462;
  color: #ffffff;
}
/* line 341, _navbar.less */
#nav .level0-wrapper,
#nav.classic .parent > ul {
  background: #fff;
  border-top: none;
  box-shadow: 0 10px 20px -5px;
  width: 100%;
  padding: 0px;
}
/* line 348, _navbar.less */
#nav .level0-wrapper,
#nav.classic ul.level0 {
  top: 46px;
}
/* line 351, _navbar.less */
#nav > li > a {
  color: #000;
}
/* line 354, _navbar.less */
#nav > li.mega-menu {
  position: static;
}
/* line 357, _navbar.less */
.nav-inner #nav li.mega-menu .level0-wrapper {
  border: 0 none;
  padding: 15px 0px;
  z-index: 10000;
  border-top: 6px #185eab solid;
}
/* line 363, _navbar.less */
#nav .level0-wrapper2 .col-1 {
  float: left;
  width: 67.5%;
}
/* line 367, _navbar.less */
#nav .level0-wrapper2 .col-2 {
  padding: 0;
  float: left;
  width: 30%;
}
/* line 372, _navbar.less */
#nav .level0-wrapper2 .col-3 {
  padding: 5px 0;
  float: left;
  width: 20%;
}
/* line 377, _navbar.less */
#nav .col-1 ul.level0 > li {
  width: 30%;
}
/* line 380, _navbar.less */
.col-2 img:hover {
  opacity: 0.5;
}
/* line 383, _navbar.less */
.col-2 .menu_image {
  display: block;
}
/* line 386, _navbar.less */
.col-2 .menu_image img {
  width: 100%;
}
/* line 389, _navbar.less */
.col-2 .menu_image1 {
  display: block;
  margin-top: 25px;
}
/* 1st level only */
/* line 394, _navbar.less */
#nav > li:hover > a {
  position: relative;
  z-index: 1;
}
/* 2nd level only */
/* line 399, _navbar.less */
#nav ul.level0 > li {
  display: inline-block;
  float: none;
  margin-right: 15px;
  padding-bottom: 20px;
  padding-top: 0;
  vertical-align: top;
  width: 15%;
}
/* line 408, _navbar.less */
#nav ul.level0 > li.last {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 15px;
  margin-right: 0px;
}
/* line 416, _navbar.less */
#nav ul.level0 > li > a {
  color: #222;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding: 5px 0px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* 2nd level+ */
/* line 426, _navbar.less */
#nav ul li {
  list-style: none;
  padding: 6px 0;
}
/* line 430, _navbar.less */
#nav li ul li ul li {
  border-bottom: 1px #f1f1f1 solid;
}
/* line 433, _navbar.less */
#nav li ul li ul li:last-child {
  border: none;
}
/* 3rd level only */
/* line 437, _navbar.less */
#nav ul.level1 {
  position: static;
}
/* line 440, _navbar.less */
#nav ul.level1 > li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 13px;
  letter-spacing: normal;
}
/* line 448, _navbar.less */
#nav ul.level1 > li a:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 10px;
  color: #185eab;
}
/* 4th level */
/* line 456, _navbar.less */
#nav ul.level2 {
  margin: 7px 0;
  padding: 0;
  position: static;
}
/* line 461, _navbar.less */
#nav ul.level2 a {
  font-size: 0.9166em;
  line-height: 1.2727em;
  opacity: 0.6;
}
/* line 466, _navbar.less */
#nav li.level2:hover ul.level2 a {
  opacity: 1;
  transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -webkit-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
}
/* 4rd level+ */
/* line 474, _navbar.less */
#nav ul ul ul li {
  background: none;
  padding-left: 0;
}
/* Vertical nav-links */
/* line 480, _navbar.less */
.nav-links > li,
.nav-links > li > a {
  line-height: 3em;
}
/* line 483, _navbar.less */
.nav-links > li > a {
  padding: 0 0.5833em;
}
/* line 486, _navbar.less */
.nav-links > li.label {
  padding-right: 0.5833em;
}
/* Basic nav-links, no separators */
/* line 490, _navbar.less */
.nav-links > li {
  float: left;
}
/* line 493, _navbar.less */
.nav-links > li > a {
  display: block;
}
/* line 496, _navbar.less */
.grid12-5 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
}
/* line 503, _navbar.less */
.grid12-3 {
  display: inline;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 22%;
  text-align: center;
}
/* line 511, _navbar.less */
.grid12-3 .item-title a {
  text-transform: uppercase;
  margin-top: 10px;
  color: #aaaaaa;
}
/* line 517, _navbar.less */
.grid12-4 {
  display: inline;
  float: left;
  margin: 5px 0 0;
  width: 34%;
}
/* line 523, _navbar.less */
.grid12-4 img {
  width: 100%;
}
/* line 526, _navbar.less */
.grid12-8 {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 1%;
  width: 62.5%;
}
/* line 533, _navbar.less */
#nav .grid12-8 ul.level0 > li {
  width: 22.5%;
}
/* line 536, _navbar.less */
.grid13-8 {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 1%;
  margin-bottom: 0;
  width: 80.90%;
}
/* line 544, _navbar.less */
.back-link {
  float: left;
}
/* line 547, _navbar.less */
#nav .level0-wrapper .nav-add {
  padding: 5px 0 0 0px;
}
/* line 550, _navbar.less */
#nav .level0-wrapper .nav-add .push_item {
  float: left;
  margin-right: 18px;
  width: 23%;
}
/* line 555, _navbar.less */
#nav .level0-wrapper .nav-add .push_item img {
  width: 98%;
}
/* line 558, _navbar.less */
#nav .level0-wrapper .nav-add .push_item_last {
  float: left;
  margin-right: 0px;
  width: 23%;
}
/* line 563, _navbar.less */
#nav .level0-wrapper .nav-add .push_item .push_img a {
  display: block;
  width: 275px;
}
/* line 567, _navbar.less */
#nav .level0-wrapper .nav-add .push_item .push_text {
  color: #666;
  font-size: 12px;
  padding: 8px 0;
}
/* line 572, _navbar.less */
.custom-menu {
  background: #0e0e0e!important;
  color: #999;
  left: 0px;
  display: none;
}
/* line 578, _navbar.less */
.icon-star:before {
  content: "\f0a3";
}
/* line 581, _navbar.less */
.icon-star {
  font-family: FontAwesome;
  display: inline-block !important;
  font-size: 28px;
  color: #185eab;
  height: 60px;
  width: 60px;
  line-height: 60px!important;
  border: 1px #eee solid;
  border-radius: 50px;
  text-align: center;
}
/* line 594, _navbar.less */
.heart-icon:before {
  content: "\f06b";
  font-family: FontAwesome;
}
/* line 598, _navbar.less */
.heart-icon {
  font-family: FontAwesome;
  display: inline-block !important;
  font-size: 28px;
  color: #185eab;
  height: 60px;
  width: 60px;
  line-height: 60px!important;
  border: 1px #eee solid;
  border-radius: 50px;
  text-align: center;
  padding-left: 6px;
}
/* line 612, _navbar.less */
.custom-icon:before {
  content: "\f0e9";
}
/* line 615, _navbar.less */
.custom-icon {
  font-family: FontAwesome;
  display: inline-block !important;
  font-size: 28px;
  color: #185eab;
  height: 60px;
  width: 60px;
  line-height: 60px!important;
  border: 1px #eee solid;
  border-radius: 50px;
  text-align: center;
}
/* line 628, _navbar.less */
.icon-custom-grid:before {
  content: "\f00a";
}
/* line 631, _navbar.less */
.icon-custom-grid {
  font-family: FontAwesome;
  display: inline-block !important;
  font-size: 28px;
  color: #185eab;
  height: 60px;
  width: 60px;
  line-height: 60px!important;
  border: 1px #eee solid;
  border-radius: 50px;
  text-align: center;
}
/* line 644, _navbar.less */
#nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* line 651, _navbar.less */
#nav .nav-custom-link .header-nav-dropdown-wrapper h4.heading {
  color: #f4c601;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
/* line 659, _navbar.less */
#nav li.drop-menu ul {
  position: absolute;
  top: 47px;
  left: 0;
  background: #fff;
  padding: 6px 0;
  border-top: none;
  box-shadow: 0 0 20px -5px;
  width: 165px;
  text-align: left;
  z-index: 1000;
  border-top: 6px #185eab solid;
}
/* line 672, _navbar.less */
#nav > li.drop-menu ul li ul {
  border-top: none;
}
/* line 675, _navbar.less */
#nav > li.drop-menu {
  position: relative;
}
/* line 678, _navbar.less */
#nav > li.drop-menu a {
  margin-right: 3px;
}
/* line 681, _navbar.less */
#nav li.drop-menu ul li {
  position: relative;
}
/* line 684, _navbar.less */
#nav li.drop-menu ul li a {
  color: #333;
  line-height: 30px;
  font-size: 13px;
  padding: 0 12px;
  display: block;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
/* line 695, _navbar.less */
#nav li.drop-menu ul li:hover > a {
  color: #185eab;
  padding-left: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 703, _navbar.less */
#nav li.drop-menu ul li span.plus {
  display: block;
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -1px;
  height: 1px;
  width: 7px;
  background: #535353;
}
/* line 713, _navbar.less */
#nav li.drop-menu ul {
  display: none;
}
/* line 716, _navbar.less */
.sticky {
  position: fixed;
  margin-top: 0px;
  z-index: 500;
  display: block;
  top: 0px;
  height: 51px;
  background: #141414;
  width: 100%;
}
/* End Nav */
/* Feature SLIDER */
/* line 6, _owl-carousel.less */
#featured-slider_6max .owl-item .item {
  text-align: center;
}
/* line 8, _owl-carousel.less */
#featured-slider_6max .owl-item .item .product-image {
  display: block;
  overflow: hidden;
}
/* line 16, _blended.less */
#featured-slider_6max .owl-item .item .product-image img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 25, _blended.less */
#featured-slider_6max .owl-item .item .product-image:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 56, _blended.less */
#featured-slider_6max .owl-dots {
  position: relative;
  top: -28.7em;
  text-align: right;
}
/* line 60, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#featured-slider_6max .owl-dots > .owl-dot > span:active,
#featured-slider_6max .owl-dots > .owl-dot > span:hover,
#featured-slider_6max .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#featured-slider_6max .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#featured-slider_6max .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 16, _owl-carousel.less */
.product-flexslider {
  margin: 20px 30px 0px;
}
/*Brand Logo Slider*/
/* line 27, _owl-carousel.less */
.brand-logo {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 25px 0px;
}
/* line 32, _owl-carousel.less */
.brand-logo .slider-items-products .owl-item .item {
  text-align: center;
  border: 1px #dddddd solid;
  height: 80px;
  line-height: 80px;
}
/* line 37, _owl-carousel.less */
.brand-logo .slider-items-products .owl-item .item img {
  width: 90%;
  margin: 10px auto;
}
/* line 46, _owl-carousel.less */
#brand-logo-slider {
  margin: 30px 0px !important;
}
/* line 56, _blended.less */
#brand-logo-slider .owl-dots {
  position: relative;
  top: -9.5em;
  text-align: right;
}
/* line 60, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#brand-logo-slider .owl-dots > .owl-dot > span:active,
#brand-logo-slider .owl-dots > .owl-dot > span:hover,
#brand-logo-slider .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#brand-logo-slider .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#brand-logo-slider .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 56, _blended.less */
#featured-slider_4max .owl-dots {
  position: relative;
  top: -37em;
  text-align: right;
}
/* line 60, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot {
  background-color: white;
}
/* line 63, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot > span {
  width: 14px;
  height: 14px;
  background-color: #D6D6D6;
}
/* line 67, _blended.less */
#featured-slider_4max .owl-dots > .owl-dot > span:active,
#featured-slider_4max .owl-dots > .owl-dot > span:hover,
#featured-slider_4max .owl-dots > .owl-dot > span:focus {
  background-color: #0088cc;
}
/* line 74, _blended.less */
#featured-slider_4max .owl-dots > .active {
  background-color: white;
}
/* line 77, _blended.less */
#featured-slider_4max .owl-dots > .active > span {
  width: 14px;
  height: 14px;
  background-color: #0088cc;
}
/* line 26, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-prev {
  color: black;
  background-color: white;
  border-radius: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 14em;
  left: -2em;
}
/* line 29, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-prev:hover {
  background-color: #185eab;
  color: white;
  border: 1px solid white;
}
/* line 35, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-next {
  color: black;
  background-color: white;
  border-radius: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 14em;
  right: -2em;
}
/* line 38, _pdc_carousel.less */
#featured-slider_4max .owl-nav .owl-next:hover {
  background-color: #185eab;
  color: white;
  border: 1px solid white;
}
/* line 47, _pdc_carousel.less */
.clickable-product {
  overflow: hidden;
  border: 1px solid rgba(210, 210, 210, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 55, _pdc_carousel.less */
.clickable-product .product-topimage {
  overflow: hidden;
}
/* line 57, _pdc_carousel.less */
.clickable-product .product-topimage img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 61, _pdc_carousel.less */
.clickable-product .product-topimage .rednew-topleft-triangle {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  background: url('../imgs/newRed.png') top left no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 73, _pdc_carousel.less */
.clickable-product .product-topimage .rednew-topleft-triangle > p {
  padding-right: 2em;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 83, _pdc_carousel.less */
.clickable-product .product-topimage .bluesale-topright-triangle {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  background: url('../imgs/saleBlue.png') no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
/* line 95, _pdc_carousel.less */
.clickable-product .product-topimage .bluesale-topright-triangle > p {
  padding-left: 2em;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 105, _pdc_carousel.less */
.clickable-product .product-topimage .quickview-link {
  height: 40px;
  width: 40px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 20px 5px 0px 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: url('../imgs/searchBlue.png') no-repeat bottom right;
  border: none;
  position: absolute;
  bottom: 141px;
  right: 0px;
  opacity: 0;
  z-index: 1;
}
/* line 125, _pdc_carousel.less */
.clickable-product .product-infobottom {
  padding: 1em 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 132, _pdc_carousel.less */
.clickable-product .product-infobottom .product-caption {
  margin-bottom: 3px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 139, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars {
  /*.glyphicon {
                font-size: 20px;
            }*/
}
/* line 143, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars .glyphicon-star-empty {
  color: rgba(210, 210, 210, 0.8);
}
/* line 146, _pdc_carousel.less */
.clickable-product .product-infobottom .product-rating-yellowstars .glyphicon-star {
  color: yellow;
}
/* line 150, _pdc_carousel.less */
.clickable-product .product-infobottom .merchandise-price {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}
/* line 156, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom > a {
  color: rgba(185, 185, 185, 0.8);
}
/* line 159, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom .button-extra-default {
  margin: 0 3px;
  background-color: white;
  border: 1px solid rgba(210, 210, 210, 0.8);
  border-radius: 0;
  font-weight: bold;
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -ms-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
/* line 166, _pdc_carousel.less */
.clickable-product .product-infobottom .twolinks-onebtn-bottom .button-extra-default:hover {
  background-color: black;
  color: white;
  margin: 0 12px;
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -ms-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
}
/* line 176, _pdc_carousel.less */
.clickable-product:hover {
  -webkit-box-shadow: 2px 10px 7px 0px #e6e3e6;
  -moz-box-shadow: 2px 10px 7px 0px #e6e3e6;
  box-shadow: 2px 10px 7px 0px #e6e3e6;
}
/* line 181, _pdc_carousel.less */
.clickable-product:hover .product-topimage .quickview-link {
  opacity: 1;
}
/* line 184, _pdc_carousel.less */
.clickable-product:hover .product-topimage img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
/* line 189, _pdc_carousel.less */
.clickable-product:hover .product-caption {
  color: #337ab7;
}
/* line 193, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .likeheart-link {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}
/* line 200, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .btnproduct-defaulthover {
  background-color: black !important;
  color: white;
  margin: 0 12px;
}
/* line 205, _pdc_carousel.less */
.clickable-product:hover .twolinks-onebtn-bottom .sendsignal-link {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}
/*.caption-sliderdesc {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}*/
/*.caption-sliderdesc {
    width: 100%;
    height: 100%;
    text-align: center;
    > p {
        padding-top: 20%;
    }
}*/
/* line 63, styles.less */
.carousel-item-container {
  width: 100%;
  max-height: 500px;
}
/* line 66, styles.less */
.carousel-item-container img {
  max-height: 500px;
}
/* line 69, styles.less */
.carousel-item-container .caption-sliderdescs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}
/* line 75, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child {
  padding-top: 6%;
}
/* line 79, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child .redfather-circle {
  line-height: 90px;
  color: #fff;
  display: inline-flex;
  white-space: nowrap;
  width: 90px;
  height: 90px;
  padding-left: 20px;
  background: #ee3644;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  letter-spacing: 1px;
  font-size: 39px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 94, styles.less */
.carousel-item-container .caption-sliderdescs > div:first-child .headerslider-nowavailable {
  font-size: 39px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  color: #ee3644;
}
/* line 99, styles.less */
.carousel-item-container .caption-sliderdescs .spoil-youfather {
  color: #185eab;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 5em;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 107, styles.less */
.carousel-item-container .caption-sliderdescs .china-no1bear {
  color: white;
  padding: 0px 20px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 5em;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
/* line 115, styles.less */
.carousel-item-container .caption-sliderdescs .header-father-desc,
.carousel-item-container .caption-sliderdescs .header-yanjing-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  margin-bottom: 4em;
  letter-spacing: 0;
}
/* line 121, styles.less */
.carousel-item-container .caption-sliderdescs .shopnow-btnheader {
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  letter-spacing: 1px;
  text-decoration: none;
  border: 2px #185eab solid;
  color: #333;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}
/* line 132, styles.less */
.carousel-item-container .caption-sliderdescs .shopnow-btnheader:hover,
.carousel-item-container .caption-sliderdescs .shopnow-btnheader:focus {
  background-color: #185eab;
  color: white;
}
/*=================== 10. Blog-post ==================*/
/* line 171, styles.less */
.latest-blog {
  text-align: left;
  padding: 0px;
  margin: auto;
  padding-bottom: 5px;
  overflow: hidden;
}
/* line 177, styles.less */
.latest-blog img {
  width: 100%;
  border-radius: 3px;
}
/* line 181, styles.less */
.latest-blog .container {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 185, styles.less */
.latest-blog .blog-title {
  color: #000000;
  height: 50px;
  margin: 0 auto 0px;
  text-align: left;
  text-transform: none;
  padding-left: 15px;
}
/* line 192, styles.less */
.latest-blog .blog-title h2 {
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  padding: 12px 10px 2px 0px;
  position: relative;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 205, styles.less */
.latest-blog h3 {
  margin-top: 12px;
  margin-bottom: 5px;
}
/* line 208, styles.less */
.latest-blog h3 a {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
/* line 214, styles.less */
.latest-blog .icon-calendar:before {
  margin-right: 5px;
}
/* line 217, styles.less */
.latest-blog .post-date {
  border-bottom: 1px #eaeaea solid;
  padding-bottom: 10px;
}
/* line 221, styles.less */
.latest-blog .readmore {
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  border: 1px #eaeaea solid;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}
/* line 230, styles.less */
.latest-blog .readmore:hover {
  background: #185eab;
  color: #ffffff;
}
/* line 235, styles.less */
.latest-blog .blog_inner {
  float: left;
  margin-bottom: 30px;
  background: #ffffff;
  padding: 0px;
  margin-top: 20px;
}
/* line 242, styles.less */
.latest-blog a {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
}
/* line 248, styles.less */
.latest-blog a:hover {
  color: #000000;
  text-decoration: none;
}
/* line 253, styles.less */
.latest-blog p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
  text-align: left;
  color: #777777;
}
/* line 260, styles.less */
.latest-blog .blog-img {
  display: block;
  overflow: hidden;
}
/* line 16, _blended.less */
.latest-blog .blog-img img {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 25, _blended.less */
.latest-blog .blog-img:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -moz-transform: scale(1.2);
}
/* line 265, styles.less */
.post-date {
  color: #5e5f5f;
  font-weight: normal;
  font-size: 13px;
}
/* line 271, styles.less */
.blog_post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}
/* line 278, styles.less */
.blog-img {
  position: relative;
}
/* line 280, styles.less */
.blog-img img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
}
/* line 283, styles.less */
.blog-img .mask {
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 299, styles.less */
.blog-img a.info {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -o-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #185eab;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 11px;
  border: 2px #ffffff solid;
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 314, styles.less */
.blog-img a.info:hover {
  background: #185eab;
}
/* line 318, styles.less */
.blog-img .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 327, styles.less */
.blog-img:hover .mask {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 333, styles.less */
.blog-img:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -o-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* blog-End */
/* ======================== 11. Features Box ============================ */
/* line 365, styles.less */
.our-features-box {
  background: none;
  margin-top: 0px;
  overflow: hidden;
  padding: 0px;
  padding: 0px 0;
  width: 100%;
  margin: auto;
  background: #185eab;
  margin-top: 30px;
}
/* line 375, styles.less */
.our-features-box ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 1170px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}
/* line 384, styles.less */
.our-features-box ul li {
  float: left;
  margin-bottom: 0px;
  margin-right: 15px;
  text-align: center;
  width: 275px;
  padding: 0;
  display: inline-block;
}
/* line 393, styles.less */
.our-features-box ul li.last {
  margin-right: 0;
}
/* line 397, styles.less */
.our-features-box .feature-box {
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  line-height: 1.4em;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  width: 275px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/* line 409, styles.less */
.our-features-box .feature-box .content {
  display: block;
  text-align: left;
  margin-left: 50px;
  margin-top: 12px;
  font-size: 11px;
}
/* line 416, styles.less */
.our-features-box .feature-box span {
  font-size: 12px;
  display: block;
  font-weight: 400;
  text-transform: none;
  padding-top: 5px;
  color: #cccccc;
  line-height: 18px;
  font-style: italic;
}
/* line 430, styles.less */
.icon-truck:before {
  content: "\f0d1";
}
/* line 434, styles.less */
.icon {
  display: inline-block !important;
  font-size: 16px;
  margin: auto;
  color: #ffffff;
  text-align: center;
  width: 40px !important;
  padding-left: 0px;
  float: left;
  background: #226ab9;
  border-radius: 25px;
  height: 40px;
  line-height: 40px;
  border: 1px #057bb6 solid;
}
/*==================== 19. Footer =====================*/
/*toTop*/
/* line 457, styles.less */
#toTop {
  color: #fff;
  text-align: center;
  bottom: 60px;
  display: none;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-decoration: none;
  width: 50px;
  background: url(../images/to-top-arrow.png) no-repeat center;
  background-color: #222;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 473, styles.less */
#toTop:hover {
  color: #fff;
  background-color: #000;
}
/* newsletter */
/* line 482, styles.less */
.newsletter {
  margin: 0 0 20px 0;
  margin: auto;
  padding: 5px 0 0;
  position: relative;
  width: 820px;
}
/* line 491, styles.less */
.newsletter-wrap h4 {
  margin-bottom: 3px;
}
/* line 494, styles.less */
.newsletter-wrap input[type="text"] {
  background: #ffffff;
  width: 450px;
  width: 62% !important;
  height: 18px;
  height: auto;
  display: inline-block;
  color: #a7a7a7;
  line-height: 22px;
  background-color: #ffffff;
  border: none;
  padding-left: 10px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 10px;
}
/* line 510, styles.less */
.newsletter-wrap button.subscribe:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
  color: #ffffff;
}
/* line 517, styles.less */
.newsletter-wrap button.subscribe {
  background: #185eab;
  border: 0 none;
  filter: none;
  overflow: hidden;
  padding: 9px 18px;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 528, styles.less */
.newsletter-wrap button.subscribe:hover {
  border: 0 none;
  filter: none;
  overflow: hidden;
  padding: 9px 18px;
}
/* line 534, styles.less */
.newsletter-wrap button.subscribe span {
  color: #ffffff;
  font-size: 14px;
}
/* line 541, styles.less */
footer {
  padding: 0px 0 0;
  overflow: hidden;
  color: #333;
  background: #0e0e0e;
  padding-top: 30px;
  border-top: 6px #185eab solid;
}
/* line 548, styles.less */
footer .footer-middle {
  text-align: center;
}
/* line 551, styles.less */
footer ul {
  margin: 0px;
  padding: 0px;
}
/* line 554, styles.less */
footer ul li {
  list-style-type: none;
  border-bottom: 1px #222222 solid;
}
/* line 558, styles.less */
footer ul li:last-child {
  border-bottom: none;
}
/* line 561, styles.less */
footer ul a {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
}
/* line 570, styles.less */
footer .footer-inner {
  margin-bottom: 30px;
  overflow: hidden;
  padding-top: 15px;
}
/* line 574, styles.less */
footer .footer-inner h3 {
  color: #3D4C4F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0 0 15px;
  padding: 0 0 10px;
  text-transform: uppercase;
}
/* line 585, styles.less */
.footer-column-1 {
  line-height: 18px;
  margin-bottom: 15px;
  margin-right: 30px;
  min-height: 220px;
  padding-right: 30px;
}
/* line 593, styles.less */
.footer-column {
  margin-bottom: 15px;
  margin-right: 20px;
  min-height: 220px;
  width: 30%;
}
/* line 602, styles.less */
footer .footer-column a {
  color: #aaaaaa;
  display: block;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
/* line 606, styles.less */
footer .footer-column a:before {
  color: #666666;
  content: "\f105";
  cursor: pointer;
  display: inline-block !important;
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 20px;
  margin-right: 5px;
}
/* line 618, styles.less */
footer p {
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
/* line 625, styles.less */
footer a {
  line-height: normal;
}
/* line 627, styles.less */
footer a:hover {
  color: #185eab;
  text-decoration: none;
}
/* line 632, styles.less */
footer h4 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
}
/* line 643, styles.less */
footer .input-text:focus {
  background: #ffffff;
  border-color: #464646;
}
/* line 648, styles.less */
footer .coppyright {
  color: #666666;
  float: left;
}
/* line 654, styles.less */
.footer-column-last {
  margin-bottom: 15px;
  margin-right: 0px;
  padding-left: 0px;
}
/* line 658, styles.less */
.footer-column-last li {
  padding: 0px 0 5px;
}
/* line 664, styles.less */
.footer-bottom .inner {
  height: 60px;
  margin: auto;
  padding: 20px 0 15px;
}
/* line 668, styles.less */
.footer-bottom .inner a {
  color: #aaaaaa;
}
/* line 670, styles.less */
.footer-bottom .inner a:hover {
  color: #ffffff;
}
/* line 675, styles.less */
.footer-bottom .inner .bottom_links a {
  margin-left: 15px;
}
/* line 682, styles.less */
.footer-bottom {
  padding: 0px;
  padding: 18px 0;
  overflow: hidden;
  width: 100%;
  margin: auto;
  background-color: #060606;
}
/* line 689, styles.less */
.footer-bottom a {
  color: #999999;
}
/* line 692, styles.less */
.footer-bottom .company-links ul {
  padding: 0px;
}
/* line 695, styles.less */
.footer-bottom .company-links li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
  float: right;
  border-bottom: none;
}
/* line 704, styles.less */
footer address {
  display: block;
  margin: auto;
  font-style: normal;
  line-height: 1.5em;
  color: #999;
  padding-top: 5px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
}
/* line 717, styles.less */
footer address .icon-mobile-phone:before,
footer address .icon-envelope:before {
  margin-left: 15px;
}
/* line 722, styles.less */
.footer-bottom .bottom_links li {
  margin-left: 20px;
}
/* line 726, styles.less */
.custom-footer-links li {
  margin: 7px 0;
}
/* line 730, styles.less */
.footer-col-right {
  width: 58%;
  float: left;
}
/* line 735, styles.less */
.contact-info {
  text-align: center;
}
/* line 739, styles.less */
ul.contact-info span {
  font-size: 13px !important;
  font-weight: 900 !important;
  color: #666;
  float: left;
}
/* line 746, styles.less */
ul.contact-info li {
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: inline-block;
}
/* line 752, styles.less */
ul.contact-info li.last {
  float: left;
  margin-bottom: 0px;
  border-bottom: 0px #2d3d4c solid;
}
/* line 760, styles.less */
.footer-box {
  width: 1240px;
  margin: auto;
}
/* line 765, styles.less */
footer ul span {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: 15px;
  padding-right: 3px;
}
/* line 773, styles.less */
address {
  display: block;
  margin: auto;
  font-style: normal;
  line-height: 21px;
  color: #999999;
  padding-top: 10px;
  margin-top: 10px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px #eaeaea solid;
  margin-bottom: 15px;
}
/* line 787, styles.less */
.footer-logo {
  text-align: left;
  margin: 10px 0;
}
/* line 792, styles.less */
.social-section {
  padding: 0px;
  overflow: hidden;
  width: 100%;
  margin: auto;
  background: #191919;
}
/* line 798, styles.less */
.social-section .inner {
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}
/* line 806, styles.less */
.social {
  overflow: hidden;
}
/* line 808, styles.less */
.social a {
  border: 2px #555555 solid;
  border-radius: 20px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: background 400ms ease-in-out;
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
}
/* line 819, styles.less */
.social a :hover {
  color: #ffffff;
}
/* line 823, styles.less */
.social .fb a:before {
  content: "\f09a";
  font-family: FontAwesome;
}
/* line 827, styles.less */
.social .fb a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 833, styles.less */
.social .fb a:hover {
  background: #3c5b9b !important;
}
/* line 836, styles.less */
.social .tw a:before {
  content: "\f099";
  font-family: FontAwesome;
}
/* line 840, styles.less */
.social .tw a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 846, styles.less */
.social .tw a:hover {
  background: #359bed !important;
}
/* line 849, styles.less */
.social .googleplus a:before {
  content: "\f0d5";
  font-family: FontAwesome;
}
/* line 853, styles.less */
.social .googleplus a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 859, styles.less */
.social .googleplus a:hover {
  background: #e33729 !important;
}
/* line 862, styles.less */
.social .rss a:before {
  content: "\f09e";
  font-family: FontAwesome;
}
/* line 866, styles.less */
.social .rss a {
  content: "\f09e";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 874, styles.less */
.social .rss a:hover {
  background: #fd9f13 !important;
}
/* line 877, styles.less */
.social .pintrest a:before {
  content: "\f0d3";
  font-family: FontAwesome;
}
/* line 881, styles.less */
.social .pintrest a {
  content: "\f0d3";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 889, styles.less */
.social .pintrest a:hover {
  background: #cb2027 !important;
}
/* line 892, styles.less */
.social .linkedin a:before {
  content: "\f0e1";
  font-family: FontAwesome;
}
/* line 896, styles.less */
.social .linkedin a {
  content: "\f0e1";
  font-family: FontAwesome;
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 904, styles.less */
.social .linkedin a:hover {
  background: #027ba5 !important;
}
/* line 907, styles.less */
.social .youtube a:before {
  content: "\f167";
  font-family: FontAwesome;
}
/* line 911, styles.less */
.social .youtube a {
  font-size: 18px;
  display: inline-block !important;
  text-align: center;
  padding: 0;
}
/* line 917, styles.less */
.social .youtube a:hover {
  background: #f03434 !important;
}
/* line 920, styles.less */
.social h4 {
  margin: 25px 0 0px 0px;
}
/* line 923, styles.less */
.social ul {
  margin: 0;
  list-style: none;
}
/* line 926, styles.less */
.social ul li {
  margin-right: 10px;
  border: none;
}
/* line 934, styles.less */
.payment-accept {
  color: #333333;
  font-size: 14px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 20px;
}
/* line 941, styles.less */
.payment-accept img {
  margin-right: 10px;
  opacity: 0.5;
}
/* line 945, styles.less */
.payment-accept img:hover {
  opacity: 1;
}
